html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
  position: relative;
}

.robot {
  width: 320px;
}

.robot-body {
  top: 55px;
  width: 320px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-right {
  float: right;
  margin: 20px 60px;
}

.robot-head-left {
  float: left;
  margin: 20px -60px;
}

.robot:hover > .robot-head-left {
  margin: 20px -100px;
}

.robot:hover > .robot-head-right {
  margin: 20px 100px;
}
